<p>Managers can upload their own videos, highlight and tag hazards throughout the video and then create exams for
    potential
    on-site workers to assess their ability to spot hazards within their own work-site.</p>
<p>Also built the brochure site linked above.</p>
<h4>Build:</h4>
<ul>
    <li>An .NET Core and SQL Server web application with an AngularJS and HTML5 front-end web application</li>
    <li>Web API, .NET Core based backend for above web site using Entity Framework Core, Code First and SQL Server</li>
</ul>