<h3>IQL (open-sourced)</h3>
<p>
  <a href="http://iql.rocks">http://iql.rocks</a>
</p>
<p>IQL is an ORM built in C#, converted to TypeScript (and ultimately JavaScript) via <a
    href="#typesharp">TypeSharp</a>. This means the
  same
  code can run in .NET, Node, the browser and even phones via tools like NativeScript, React Native,
  Xamarin,
  Cordova etc.</p>
<p>It can map to any data endpoint (custom providers can be written) and enables Entity Framework style
  querying
  from TypeScript/JavaScript.</p>
<h4>Getting data</h4>
<pre><code [highlight]="code" [language]="languages"></code></pre>
<h4>Modifying data</h4>
<pre><code [highlight]="code2" [language]="languages"></code></pre>
<p>IQL supports offline data synchronisation and is provided out-of-the-box with an OData provider.</p>
<p>IQL was built heavily with TDD and has around 600 unit tests. The tests also convert to TypeScript and
  run in
  Mocha.</p>