.key-skill {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 10px;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 6px;
    background-color: #EEE;
    color: #444;
}