<div class="item col-xs-12 col-sm-4">
	<div class="item-inner">
		<div class="chart-easy-pie text-center">
			<div class="chart-theme-1 chart" [attr.data-percent]="resolveScore()"><span>{{resolveScore()}}</span>%</div>
		</div>
		<h4 class="skill-name">{{skill.title}}</h4>
		<!--
		<div class="level">{{skill.level}}, {{skill.years}} year{{skill.years == 1 ? "" : "s"}}</div> 
		<div class="desc">
      		{{skill.description}} - {{skill.months}}
		</div>-->
	</div>
	<!--//item-inner-->
</div>
<!--//item-->