<header class="header">
	<div class="top-bar container-fluid">
		<div class="actions">
			<a class="btn hidden-xs" href="mailto:{{email}}"><i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
			<!--<a class="btn" href="#"><i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>-->
		</div>
		<!--//actions-->
		<app-socials [socials]="socials"></app-socials>
		<!--//social-->
	</div>
	<!--//top-bar-->

	<div class="intro">
		<div class="container text-center">
			<app-profile-image></app-profile-image>
			<h1 class="name">{{name}}</h1>
			<div class="title">{{title}}</div>
			<div class="profile">
				<p>{{profile}}</p>
			</div>
			<!--//profile-->
		</div>
		<!--//container-->
	</div>
	<!--//intro-->

	<div class="contact-info">
		<div class="container text-center">
			<ul class="list-inline">
				<li class="email"><i class="fa fa-envelope"></i><a href="mailto:{{email}}">{{email}}</a></li>
				<li><i class="fa fa-phone"></i> <a href="{{phoneNumber(phone)}}">{{phone}}</a></li>
				<li><i class="fa fa-phone"></i> <a href="{{phoneNumber(whatsApp)}}">{{whatsApp}} (WhatsApp)</a></li>
				<li class="website"><i class="fa fa-globe"></i><a href="#" target="_blank">{{portfolioSite}}</a></li>
			</ul>
		</div>
		<!--//container-->
	</div>
	<!--//contact-info-->

	<div class="page-nav-space-holder hidden-xs">
		<div id="page-nav-wrapper" class="page-nav-wrapper text-center">
			<div class="container">
				<ul id="page-nav" class="nav page-nav list-inline">
					<li *ngIf="experiences.length"><a class="scrollto" href="#experiences-section">Experiences</a></li>
					<li *ngIf="educations.length"><a class="scrollto" href="#eudcation-section">Education</a></li>
					<li *ngIf="skills.length"><a class="scrollto" href="#skills-section">Skills</a></li>
					<li *ngIf="testimonials.length"><a class="scrollto" href="#testimonials-section">Testimonials</a></li>
					<li *ngIf="portfolioItems.length"><a class="scrollto" href="#portfolio-section">Portfolio</a></li>
					<li><a class="scrollto" href="#contact-section">Contact</a></li>
				</ul>
				<!--//page-nav-->
			</div>
		</div>
		<!--//page-nav-wrapper-->
	</div>

</header>
<!--//header-->

<div class="wrapper container">
	<section *ngIf="experiences.length" id="experiences-section" class="experiences-section section">
		<h2 class="section-title">Work Experiences</h2>
		<div class="timeline">
			<app-work-experience *ngFor="let experience of experiences" [experience]="experience">

			</app-work-experience>
		</div>
		<!--//timeline-->

	</section>
	<!--//section-->

	<section *ngIf="educations.length" id="eudcation-section" class="education-section section">
		<h2 class="section-title">Education</h2>
		<div class="row">
			<app-education *ngFor="let experience of educations" [experience]="experience">

			</app-education>
		</div>
		<!--//row-->
	</section>
	<!--//section-->


	<section *ngIf="skills.length" id="skills-section" class="skills-section section text-center">
		<h2 class="section-title">Professional Skills</h2>
		<div class="top-skills">
			<h3 class="subtitle">Top Skills</h3>
			<div class="row">
				<app-skill *ngFor="let skill of skills | importantSkills:true" [skill]="skill">

				</app-skill>
			</div>
			<!--//row-->
		</div>
		<!--//top-skills-->

		<div class="other-skills">
			<h3 class="subtitle">Other Skills</h3>
			<div class="misc-skills">
				<div *ngFor="let skill of skills | importantSkills:false">
					<span class="skill-tag">{{skill.title}}</span>
				</div>
			</div>
		</div>
		<!--//other-skills-->

	</section>
	<!--//skills-section-->

	<section *ngIf="testimonials.length" id="testimonials-section" class="testimonials-section section">
		<h2 class="section-title">Testimonials</h2>

		<div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#testimonials-carousel" data-slide-to="1"></li>
				<li data-target="#testimonials-carousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<app-testimonial *ngFor="let testimonial of testimonials" [testimonial]="testimonial">

				</app-testimonial>
			</div>
			<!--//carousel-inner-->
		</div>
		<!--//testimonials-carousel-->

	</section>
	<!--//section-->


	<section *ngIf="portfolioItems.length" id="portfolio-section" class="portfolio-section section">
		<h2 class="section-title">Portfolio</h2>
		<ul id="filters" class="filters clearfix">
			<li class="type active" data-filter="*">All</li>
			<li class="type" data-filter=".backend">Back-end</li>
			<li class="type" data-filter=".frontend">Front-end</li>
		</ul>
		<!--//filters-->
		<div class="items-wrapper isotope row">
			<!--//item-->
			<app-portfolio-item *ngFor="let item of portfolioItems" [item]="item">

			</app-portfolio-item>
			<!--//item-->

		</div>
		<!--//item-wrapper-->

	</section>
	<!--//section-->

	<section id="contact-section" class="contact-section section">
		<h2 class="section-title">Get in Touch</h2>
		<div class="intro">
			<app-profile-image></app-profile-image>
			<div class="dialog">
				<div [innerHTML]="current"></div>
				<p><strong>I can help with the following:</strong></p>
				<ul class="list-unstyled service-list">
					<li *ngFor="let help of helps"><i class="fa fa-check" aria-hidden="true"></i> {{help}}</li>
				</ul>
				<p>Drop me a line at <a href="mailto:{{email}}">{{email}}</a> or call me at <a href="tel:{{phone}}">{{phone}}</a></p>
				<app-socials [socials]="socials"></app-socials>
				<!--//social-->
			</div>
			<!--//diaplog-->
		</div>
		<!--//intro-->

	</section>
	<!--//section-->

</div>
<!--//wrapper-->

<footer class="footer text-center">
	<div class="container">
	</div>
</footer>

<!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
<div *ngIf="false" id="config-panel" class="config-panel hidden-xs hidden-sm">
	<div class="panel-inner">
		<a id="config-trigger" class="config-trigger config-panel-hide" href="#"><i class="fa fa-cog"></i></a>
		<h5 class="panel-title">Choose Colour</h5>
		<ul id="color-options" class="list-unstyled list-inline">
			<li class="theme-1 active">
				<a data-style="assets/css/styles.css" data-chart="#00BCD4" href="#"></a>
			</li>
			<li class="theme-2">
				<a data-style="assets/css/styles-2.css" data-chart="#03A9F4" href="#"></a>
			</li>
			<li class="theme-3">
				<a data-style="assets/css/styles-3.css" data-chart="#009688" href="#"></a>
			</li>
			<li class="theme-4">
				<a data-style="assets/css/styles-4.css" data-chart="#4CAF50" href="#"></a>
			</li>
			<li class="theme-5">
				<a data-style="assets/css/styles-5.css" data-chart="#8BC34A" href="#"></a>
			</li>
			<li class="theme-6">
				<a data-style="assets/css/styles-6.css" data-chart="#C0CA33" href="#"></a>
			</li>
			<li class="theme-7">
				<a data-style="assets/css/styles-7.css" data-chart="#FFC107" href="#"></a>
			</li>
			<li class="theme-8">
				<a data-style="assets/css/styles-8.css" data-chart="#FF9800" href="#"></a>
			</li>
			<li class="theme-9">
				<a data-style="assets/css/styles-9.css" data-chart="#FF5722" href="#"></a>
			</li>
			<li class="theme-10">
				<a data-style="assets/css/styles-10.css" data-chart="#795548" href="#"></a>
			</li>
			<li class="theme-11">
				<a data-style="assets/css/styles-11.css" data-chart="#607D8B" href="#"></a>
			</li>
			<li class="theme-12">
				<a data-style="assets/css/styles-12.css" data-chart="#673AB7" href="#"></a>
			</li>
			<li class="theme-13">
				<a data-style="assets/css/styles-13.css" data-chart="#3F51B5" href="#"></a>
			</li>
			<li class="theme-14">
				<a data-style="assets/css/styles-14.css" data-chart="#2196F3" href="#"></a>
			</li>
			<li class="theme-15">
				<a data-style="assets/css/styles-15.css" data-chart="#9C27B0" href="#"></a>
			</li>
			<li class="theme-16">
				<a data-style="assets/css/styles-16.css" data-chart="#E91E63" href="#"></a>
			</li>
		</ul>
		<a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
	</div>
	<!--//panel-inner-->
</div>
<!--//configure-panel-->