<header class="header">
  <h1 class="name"><a href="mailto:{{email}}"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>{{name}}</h1>
  <ul class="list-inline">
    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:{{email}}">{{email}}</a></li>
    <li><i class="fa fa-phone"></i> <a href="{{phoneNumber(phone)}}">{{phone}}</a></li>
    <!-- <li><i class="fa fa-phone"></i> <a href="{{phoneNumber(whatsApp)}}">{{whatsApp}} (WhatsApp)</a></li> -->
    <li class="website"><i class="fa fa-globe"></i><a href="#" target="_blank">{{portfolioSite}}</a></li>
  </ul>
  <div class="card-container">
    <mat-card class="intro">
      <div class="container text-center">
        <!-- <app-profile-image></app-profile-image> -->
        <!-- <div class="title">{{title}}</div> -->
        <div class="profile">
          <!-- <div [innerHTML]="profile"></div> -->
          <div>
            <div class="title">
              <p>I am a full-stack (C#, Angular, SQL Server, ASP.NET) technical architect in London, UK.</p>
            </div>
            <ul *ngIf="keySummaries && keySummaries.length" class="service-list">
              <li *ngFor="let keySummary of keySummaries"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<span
                  class="key-summary-title">{{keySummary.title}}</span> <span
                  class="primary">{{keySummary.duration}}</span></li>
            </ul>
          </div>
          <app-socials [socials]="socials"></app-socials>
          <!-- <h3>Key skills</h3>
          <app-key-skills [skills]="keySkills"></app-key-skills> -->
          <!-- <p><strong>I can help with the following:</strong></p>
          <ul class="service-list">
            <li *ngFor="let help of helps"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{help}}</li>
          </ul> -->
        </div>
      </div>
    </mat-card>
  </div>
  <div class="page-break"></div>
  <div class="page-nav-space-holder hidden-xs">
    <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
      <div class="container">
        <ul id="page-nav" class="nav page-nav list-inline">
          <li *ngIf="experiences.length"><a class="scrollto" href="#experiences-section">Experience</a></li>
          <li *ngIf="educations.length"><a class="scrollto" href="#eudcation-section">Education</a></li>
          <!-- <li *ngIf="skills.length"><a class="scrollto" href="#skills-section">Skills</a></li> -->
          <li *ngIf="testimonials.length"><a class="scrollto" href="#testimonials-section">Testimonials</a></li>
          <li *ngIf="portfolioItems.length"><a class="scrollto" href="#portfolio-section">Portfolio</a></li>
          <li><a class="scrollto" href="#contact-section">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="wrapper container">
  <section *ngIf="experiences.length" id="experiences-section" class="experiences-section section">
    <h2 class="section-title">Work Experience</h2>
    <div class="timeline">
      <app-work-experience *ngFor="let experience of experiences" [experience]="experience">
      </app-work-experience>
    </div>
  </section>

  <section *ngIf="educations.length" id="eudcation-section" class="education-section section">
    <h2 class="section-title">Education</h2>
    <div class="row">
      <app-education *ngFor="let experience of educations" [experience]="experience">
      </app-education>
    </div>
  </section>

  <section *ngIf="false && skills.length" id="skills-section" class="skills-section section text-center">
    <h2 class="section-title">Professional Skills</h2>
    <div class="top-skills">
      <h3 class="subtitle">Top Skills</h3>
      <div class="row">
        <app-skill *ngFor="let skill of skills | importantSkills:true | orderByExperience" [skill]="skill">
        </app-skill>
      </div>
    </div>
    <div class="other-skills">
      <h3 class="subtitle">Other Skills</h3>
      <div class="misc-skills">
        <div *ngFor="let skill of skills | importantSkills:false">
          <span class="skill-tag">{{skill.title}}</span>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="testimonials.length" id="testimonials-section" class="testimonials-section section">
    <h2 class="section-title">Testimonials</h2>
    <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">
      <ol class="carousel-indicators">
        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <app-testimonial *ngFor="let testimonial of testimonials" [testimonial]="testimonial">
        </app-testimonial>
      </div>
    </div>
  </section>

  <section *ngIf="portfolioItems.length" id="portfolio-section" class="portfolio-section section">
    <h2 class="section-title">Portfolio</h2>
    <ul id="filters" class="filters clearfix">
      <li class="type active" data-filter="*">All</li>
      <li class="type" data-filter=".backend">Back-end</li>
      <li class="type" data-filter=".frontend">Front-end</li>
    </ul>
    <div class="items-wrapper isotope row">
      <app-portfolio-item *ngFor="let item of portfolioItems" [item]="item">
      </app-portfolio-item>
    </div>
  </section>

  <section id="contact-section" class="contact-section section">
    <h2 class="section-title">Get in touch</h2>
    <div class="intro">
      <!-- <app-profile-image></app-profile-image> -->
      <div class="dialog">
        <p>Drop me a line at <a href="mailto:{{email}}">{{email}}</a> or call me at <a
            href="tel:{{phone}}">{{phone}}</a></p>
        <div [innerHTML]="current"></div>
        <app-socials [socials]="socials"></app-socials>
      </div>
    </div>
  </section>
  <div class="page-break"></div>
</div>