<p>
  I-Site is a cross platform (web, mobile - iOS and Android) application for recording and tracking the safety of
  scaffolds on construction sites.
</p>
<p>The web app was built using Angular, the API using .NET Core, Entity Framework Core and OData and the mobile app
  using NativeScript and Angular
  (sharing most of the code with the web app).</p>
<p>
  It's key tenets include:
</p>
<ul>
  <li>Fully flexible reporting via OData and a unique report generation system</li>
  <li>Entire database scaffolded out via user-friendly web-based Angular management app, yet fully customisable as
    required</li>
  <li>Tagging of photos taken on-site, highlighting problems</li>
  <li>Full offline support on the phone apps, synchronising complex data structures, ensuring a "work-anywhere" app
  </li>
</ul>