.experience {
  padding-bottom: 2em;
}
.skill-tag {
  margin-right: 5px;
  margin-top: 5px;
}

.location-icon {
}

.job-meta {
  > div {
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.place {
  display: inline;
  margin-right: 1em;
}

.work-place {
  margin-bottom: 1em;
  .place {
    margin: 0;
  }
  display: grid;
  grid-template-columns: [col] 1fr [col] auto;
}

.job-ref {
}
