<mat-card class="experience item">
	<div class="work-place">
		<div class="location"><i class="fa fa-map-marker location-icon" aria-hidden="true"></i>{{experience.location}}
		</div>
		<h3 class="place">{{experience.place}}</h3>
	</div>
	<div class="job-meta">
		<div class="work-duration">
			<mat-icon>access_time</mat-icon>{{experience.fromTo}} ({{experience.durationInMonths}}
			month{{experience.durationInMonths == 1 ? "" : "s"}})
		</div>
		<div class="title">
			<mat-icon>work</mat-icon>{{experience.title}}
		</div>
	</div>
	<div class="job-desc">
		<div [innerHTML]="experience.description">
		</div>
	</div>
	<div class="misc-skills">
		<span *ngFor="let skill of experience.skills" class="skill-tag">{{skill}}</span>
	</div>
</mat-card>