@use '@angular/material' as mat;
@import "@angular/material/theming";
// Include non-theme styles for core.
@include mat.core();

$primary: mat.define-palette(mat.$cyan-palette);
$accent: mat.define-palette(mat.$deep-orange-palette);
$theme: mat.define-dark-theme($primary, $accent);
@include mat.all-component-themes($theme);
@import "./utils";

.light {
  $primary: mat.define-palette(mat.$cyan-palette);
  $accent: mat.define-palette(mat.$deep-orange-palette);
  $theme: mat.define-light-theme($primary, $accent);
  @include mat.all-component-themes($theme);
  @import "./utils";
}