@import "~@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-deep-orange);
$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@import "./utils";

.light {
  $primary: mat-palette($mat-cyan);
  $accent: mat-palette($mat-deep-orange);
  $theme: mat-light-theme($primary, $accent);
  @include angular-material-theme($theme);
  @import "./utils";
}